@import "common.scss";
@import "_minix.scss";
$font-size:37.5px !default;
@function rem($px) {
    @return $px / $font-size * 1rem;
}

%Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$bg:background;
$bor:border;
$pd:padding;
$mg:margin;
* {
    @include sizing;
    font-family: "微软雅黑";
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    @include width(100%);
    @include height(100%);
    @include box_flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    @include width(100%);
    @include height(40px);
    font-size: 15px;
    display: flex;
    align-items: center;
    ul {
        @include height(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 55%;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 10px;
        li {
            @include height(20px);
            margin: 5px 0;
            @include width(30px);
        }
        li:nth-child(1) {
            border-right: 1px solid #ccc;
        }
    }
}

.main {
    @include width(100%);
    flex: 1;
    overflow: auto;
    .input {
        @include width(90%);
        @include height(30px);
        margin: 10px 5%;
        background: #ccc;
        border: 1px solid #ccc;
        border-radius: 10px;
        input {
            @include width(90%);
            @include height(20px);
            line-height: 20px;
            border: 0;
            margin: 5px 5%;
        }
    }
}

.footer {
    @include width(100%);
    @include height(50px);
    #{$bor}-top: 1px solid #eee;
    box-shadow: 0 0 13px 0 #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}