@import "common.scss";
@import "_minix.scss";
$font-size:37.5px !default;
@function rem($px) {
    @return $px / $font-size * 1rem;
}

%Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$bg:background;
$bor:border;
$pd:padding;
$mg:margin;
* {
    @include sizing;
    font-family: "微软雅黑";
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    @include width(100%);
    @include height(100%);
    @include box_flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    @include width(100%);
    @include height(40px);
    #{$bg}: #303030;
}

.main {
    @include width(100%);
    flex: 1;
    overflow: auto;
}

.footer {
    @include width(100%);
    @include height(50px);
    #{$bor}-top: 1px solid #eee;
    box-shadow: 0 0 13px 0 #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}